{% load static %}
<footer class="page-footer row">
    <ul class="navbar-nav col-lg-4 col-sm">
        <li class="nav-item active contactanos">
            <p>CONTÁCTANOS</p>
            <p>Oficina central</p>
            <p>Cra. 5 No. 18-09, Pereira-Risaralda</p>
            <p>Tel. (6) 326 4052</p>
            <p>librerianacionaldigital@gmail.com</p>
        </li>
    </ul>
    <ul class="navbar-nav nav-logo justify-content-end  align-middle col-lg-2 col-sm">
        <li class="nav-item active">
            <a class="navbar-brand" href="Home.html">
                <img class="logo-footer" src="{% static 'img/logo1.png' %}"  height="70" alt="" loading="lazy">
            </a>
        </li>
    </ul>
</footer>
